<div class="container my-4">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Logout Successful!</h4>
    <p>Make sure to visit us again (*^_^*)</p>
    <hr>
    <p class="mb-0">Have a nice day!</p>
  </div>
</div>
