<section id="home">
  <h1 class="text-center text-light display-4">Welcome to iStore</h1>
  <%# <button class="btn">Order Now</button> %>
</section>
<section id="services-container" class="container text-center">
  <h1 class="display-7">Our Vision</h1>
  <p class="lead">
    In the world of same-day delivery and self-checkouts, customers no longer have the patience to wait for their items.
    So, to improve customer satisfaction, the idea is to use an inventory management system using QR codes.
    The essential aim of the project is to reduce waiting time at the point of sale and eliminate the need to carry all items in a cart or trolley while scouting the mall for more items.
  </p>
</section>

